.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    allign-items: center;
    border: 1px dotted rebeccapurple;
}

ul {
    display: flex;
}

li {
    margin-left: 50px;
}

li a {
    color: #636060;
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 50px;
    text-transform: uppercase;
}

